{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}    
{% endblock %}
               

<!--github에 소스올리기 
    stage에 올리기 
    stage에 올라간 파일을 commit하기 
    변경된 commit내역을 guthub과 연동하기(push)
서버에서 github에 올라간 소스 받기
     guthub에서 bashconsole에서 prac1  들어간 뒤 git pull을 치면 됨 -->
